<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card" style="max-width: 800px;">
                <div class="card-body">
                    <h1 class="card-title title">Página de Registro</h1>
                    <p style="color: red;">{{error}}</p>
                    <form method="post" action="/api/sessions/signup" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="first_name" placeholder="Tu nombre" />
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="last_name" placeholder="Tu apellido" />
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="age" placeholder="Tu edad" />
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Tu Correo" />
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Tu Contraseña" />
                        </div>
                        <div class="mb-3">
                            <input type="file" class="form-control" name="avatar"/>
                        </div>
                            <div class="d-flex flex-row justify-content-between">
                                <button type="submit" class="btn btn-primary btn-custom flex-fill">Registrarse con Correo </button>
                                <a href="/api/sessions/signup-github" class="btn btn-primary d-flex align-items-center justify-content-center flex-fill btn-custom">
                                    <img src="https://icons.veryicon.com/png/o/miscellaneous/mirror-icon/github-65.png" alt="GitHub Icon" width="28" height="28">
                                    Con GitHub
                                </a>
                            </div>
                    </form>
                    <div class="divider"></div>
                    <p class="mt-3 text-center">¿Ya tienes una cuenta? <a href="/loginView">Inicia sesión aquí</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

