body {
    background-color: #f0f0f0;
    background-size: cover;
    margin-top: 7%;
}


.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icons a {
    color: black; 
    font-size: 1.5rem; 
    margin-left: 10px; 
}

.margin_navbar{
    margin-bottom: 7%;
}
